[package]
name = "dbase"
version = "0.1.2"
authors = ["tmontaigu <thomas.montaigu@laposte.net>"]
description = "Read & Write .dbf in Rust"
license = "MIT"
readme = "README.md"
keywords = ["dbase", "dbf"]
homepage = "https://github.com/tmontaigu/dbase-rs"
repository = "https://github.com/tmontaigu/dbase-rs"
# edition = "2018"

[dependencies]
byteorder = "1.4.3"
chrono = "0.4"
serde = {version = "1.0.102", optional = true}

[dev-dependencies]
serde_derive = "1.0.102"

