[package]
name = "dbase"
version = "0.0.4"
authors = ["tmontaigu <thomas.montaigu@laposte.net>"]
description = "Read .dbf in Rust"
license = "MIT"
readme = "README.md"
keywords = ["dbase", "dbf"]
homepage = "https://github.com/tmontaigu/dbase-rs"
repository = "https://github.com/tmontaigu/dbase-rs"
# edition = "2018"

[dependencies]
byteorder = "1.2.7"
serde = {version = "1.0.102", features = ["derive"]}
